@import './utilities/_variables';
@import './utilities/_breakpoints';

body,
* {
  font-family: $fontFamily;
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

// h1, h2, h3, h4, h5, h6, span, p, a {
//     font-weight: 600;
// }

.container {
  @apply mx-auto;
}

.bg-glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.1px);
  -webkit-backdrop-filter: blur(12.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.triangle-shape {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}